﻿@using System.Security.Claims;
@{
    ViewBag.Title = "Index";
    var userAccessToken = @ViewData["user_access_token"];
    var isAuthenticated = Convert.ToBoolean(@ViewData["isAuthenticated"]);
    var userClaims = @ViewData["claims"];
}

<script>
    var accessToken = '@userAccessToken';

    if (accessToken) {
        localStorage.setItem("user_access_token", accessToken);
    }

</script>

<h2>Student Index</h2>

<div class="jumbotron" ng-controller="IdpController">



    <div class="container">
        <div class="row">



            @if (isAuthenticated)
            {

                foreach (var claim in (List<Claim>)userClaims)
                {
                    <div class="col-5"><b>@claim.Type</b></div> <div class="col-7">@claim.Value </div>
                }



                @*<button type="button" ng-click="logOut()">Logout</button>*@
                <button type="button" ng-click="callProtectedAPi()">CallProtectedAPi</button>

            }

            else
            {

                <h1>You are not logged in</h1>


            }
        </div>
    </div>
</div>

