﻿@using Microsoft.Owin.Security

<div class="jumbotron" ng-controller="IdpController">

    <button ng-click="signIn()">Sign In With Angular</button>
</div>



<h4>Use another service to log in.</h4>
<hr />
@{ var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div> }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Home", new { ReturnUrl = ViewBag.returnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType Login with Mvc</button>}
                </p>
            </div> }
    } }
